<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- Argh, don't look at me like this! :'( -->
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
  <title><%= @title ? @title : "WoW Box" %></title>
    <%= stylesheet_link_merged :base %>
    <%= javascript_include_merged :base %>
    <%= yield :headcontent -%>
</head>
<body>
  <div class="wrap background">
    <div id="search">
      <form action="">
        <fieldset>
          <input type="text" class="field" value="Search Keywords" />
          <input type="submit" class="button" value="" />
        </fieldset>
      </form>
    </div>
    <div style="float: left; padding-top: 9px; font-weight: bold; margin-right: 15px;">
      <h2>WoW Box</h2>
    </div>
    <ul id="menu">
      <li><%= link_to("HOME", root_path, :class => "current") %></li>
      <li><%= link_to("REALMS", realms_path) %></a></li>
    </ul>

    <%= yield %>
  </div>

  <div id="promo">
    <div class="wrap">
      <div class="col">
        <img id="featured" src="images/featured.gif" alt="Featured Image" />
      </div>
      <div class="col">
        <h2>Eh? What?</h2>
        <p>I am a website called WoW Box and my goal is to save you time while playing WoW. Initially we do this by providing you the ability to rate players as you see fit. Save bulking up your in-game friends list with randoms, fill me up instead!</p>
      </div>
      <div class="col last">
        <h2>Like our site?</h2>
        <p>Send my creator money for beer :P</p>
      </div>
      <div id="footer">
        <p>Created by <a href="http://blogs.gerbilsofwar.com/limi">Limi</a></p>
        <p>Copyright &copy; 2008-2009 &minus; Gerbils of War &minus; Design: Luka Cvrk &minus; <a href="http://www.solucija.com/" title="Information Architecture and Web Design">Solucija</a></p>
      </div>
    </div>
  </div>
</body>
</html>