<h2>
  <%= @realm.name %>
  <small>
    (<%= @realm.region.area %> -
    <%= @realm.realm_type.shortname %> -
    <%= @realm.realm_language.code %>)
  </small>
</h2>

See <%= link_to("guilds", realm_guilds_path(@realm)) %> on this server